canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

body{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  top:55px;
  margin: 0;
}
.container{
  margin: auto;
  width: 75%;
}
a{
  text-decoration: none;
}
.main-nav{
  display: flex;
  flex-wrap: wrap;
}
.main-nav__list {
  margin-left: auto;
  list-style: none;
}
  
.main-nav__list-item{
  display: inline-flex;
  padding: 0 10px 0 10px;
}
.main-nav__list-item a {
  color: #e60053;
}
.main-nav__list-item a:hover,
.main-nav__list-item a:active {
  border-bottom: 1px solid #e60053;
}
.banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.banner-content h1{
  color: #e60053;
  letter-spacing: 2px;
  text-shadow: 1px 3px;
  font-size: 3em;
  margin: 0;
}
.banner-content__text{
  color: grey;
  font-weight: bold;
  line-height: 23px;
  font-size: 1.2em;
}
.banner-content__text-link{
  color: white;
}
.banner-content__text-link a{
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  background-color: #99003d;
  color: white;
}
.banner-content__text-link a:hover{
  border: 1px solid #e60053;
}
.banner-content:nth-child(1){
  flex: 0 1 35%; 
}
.banner-content:nth-child(2){
  flex: 0 1 auto;
}
.project__label,
.resume-header,
.contact-header{
  display: flex;
  justify-content: center;
  color: #99003d;
  letter-spacing: 2px;
  text-decoration: underline;
  margin: 0;
}
.project__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  padding: 20px;
}
.project__list-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  position: relative;
  min-width: 270px;
  border: 1px solid #99003d;
  margin: 15px;
}
.project__list-item:hover{
  box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
  transition: 1s;
}
.project__list-item__img{
  width: 100%;
  height: 200px;
}
.project__list-item__img img{
  width: 100%;
  height: 200px;
}
.project__list-item__description{
  min-height: 170px;
  padding: 10px 10px 0 10px;
  background-color: #99003d;
  color: white;
}
.project__list-item__description h2{
  margin: 0;
  font-weight: bold;
}
.project__list-item__description p{
  margin: 0;
}
.project-info{
  width: 100%;
}
.description-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.description-list li{
  margin: 5px;
  padding: 3px;
  color: #99003d;
  background-color: white;
  border-radius: 4px;
}
.article h1{
  letter-spacing: 2px;
  text-decoration: underline;
  margin-bottom: 0;
}
.article-list img{
  width:30px;
}
.resume-body{
  color:#e60053;
}
.contact-form{
  margin: 15px;
}
.form-group{
  display: flex;
  margin: 20px;
  padding-bottom: 10px;
}
.form-group label{
  padding-right: 10px;
}
.form-group input{
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
  outline:none;
  border: 1px solid #e60053;
  border-radius: 4px;
  height: 40px;
}
.form-group textarea{
  width: 100%;
  height: 90px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #e60053;
  padding: 5px;
}
.form-group:nth-child(4){
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-group button{
  cursor: pointer;
  padding: 13px;
  color: white;
  background-color: #e60053;
  border-radius: 4px;
  border: 0;
}
.form-group button:hover{
  background-color: #99003d;
  transition: 1s;
}
.nav-div{
  display: none;
}
.nav-list{
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: white;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #99003d;
  margin-bottom: 0;
  padding: 0;
}
.nav-list__item{
  display: flex;
  z-index: 2;
  padding: 5px 17px 5px 17px;
}
.nav-list__item a{
  color: #e60053;
}
.main-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 50px 0 50px;
  margin-bottom: 50px;
}
.main-footer__links{
  margin: auto;
  display: flex;
}
.main-footer__links a{
  padding: 0 15px 0 15px;
  color: #e60053;
}
@media (max-width: 520px){
  .main-nav{
    justify-content: center;
  }
  .main-nav__list{
    display: none;
  }
  .nav-div{
    display: flex;
    justify-content: center;
  }
  .main-footer{
    margin-bottom: 60px;
  }
  .container{
    margin: auto;
    width: 85%;
  }
}